* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background: #0d0d0d;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header p {
    color: #b3b3b3;
}

section {
    background: #161616;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #2a2a2a;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}
